# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# Caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
